$color-primary: #ee4c77;
$color-white: #fff;
$color-background-grey: #ebe9d7;
$color-background-white: rgba(255, 255, 255, 0.6);
$color-background-gradient: linear-gradient(180deg, #ee4c77 60%, #0d0430 192%);
$charcoal-grey: #383743;
$box-shadow: 0px 8.63629px 25.9089px rgba(0, 0, 0, 0.2);
$color-red: #ff0f44;
