.login {
  @include flexbox;

  img {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  &-title {
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: $charcoal-grey;
  }

  &-sub--title {
    font-size: 1.063rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.2px;
    text-align: center;
    color: $charcoal-grey;
  }

  &-error {
    font-size: 0.76rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.95;
    letter-spacing: -0.17px;
    text-align: center;
    color: $color-red;
  }

  &-error--color {
    color: #ff0f44;
  }

  &-lock--icon {
    transform: rotateY(180deg);
  }
}
