.button{  
  width: 20.25rem;
  height: 3.3rem;
  border-radius: 3.6px;
  border: none;

  color: $color-white;
  font-size: 1.063rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  text-align: center;
  text-transform: uppercase;
}