


.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-image: $color-background-gradient;
  z-index: 6;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  @include flexbox;

  &-nav {
    @include flexbox;
    width: 100%;
    padding: 0 30px;
    position: relative;

    .enterpriseName{
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      color: $color-white;

      position: absolute;

      left: 10%;
    }

    img{
      width: 150px;
    }

    .button-search{
      background: none;
      border: none;
      position: absolute;

      top: 3%;
      right: 3%;


      svg{
        color: $color-white;
        font-size: 35px;
      }

    
    }

    .button-back{
      background: none;
      border: none;
      position: absolute;

      left: 3%;


      svg{
        color: $color-white;
        font-size: 35px;
      }

    
    }

  }

  .searchIcon{
    color: $color-white;
  }

}

